/Java-algo-implementation/nbproject/private/
/Java-algo-implementation/build/
/CodeVitaMock/nbproject/private/
/CodeVitaMock/build/
/AdvanceJava/nbproject/private/
/AdvanceJava/build/
/ServletTest/nbproject/private/
/ServletTest/build/
/ServletTest/dist/
/ServletProject2/nbproject/private/
/ClassProject/nbproject/private/
/TodoList/nbproject/private/
/TodoList/build/
/CodeVitaRound1/nbproject/private/
/CodeVitaRound1/build/
/JspTestApp/nbproject/private/
/JspTestApp/build/
/TestCalculator/nbproject/private/
/TestCalculator/build/